<%= form_for(current_user.reactions.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :micropost_id, micropost.id %></div>
  <%= button_tag(class: "btn btn-default" ) do %>
    <%= content_tag :span, micropost.react_users.count, class: "glyphicon glyphicon-star-empty" %>
  <% end %>
<% end %>
